<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="ingredientForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        formControlName="name"
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <!-- The template driven approach from the example solves negative numbers using the pattern directive.
                        The pattern directive allows the input field to adhere to a regex pattern.
                        The example code is: pattern="^[1-9]+[0-9]*$]"-->
                    <input
                        type="number"
                        id="amount"
                        class="form-control"
                        formControlName="amount"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid || !ingredientForm.touched">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>